.main-header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 8px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;
    background-color: #fff;
  }